<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div id="editor"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

            <ul class="nav nav-tabs">
                <li ng-class="{'active': isActiveTest('whitelist')}">
                    <a href="#" ng-click="setActiveTest('whitelist')">
                        Whitelist
                    </a>
                </li>
                <li ng-class="{'active': isActiveTest('blacklist')}">
                    <a href="#" ng-click="setActiveTest('blacklist')">
                        Blacklist
                    </a>
                </li>
                <li ng-class="{'active': isActiveTest('codeTree')}">
                    <a href="#" ng-click="setActiveTest('codeTree')">
                        Code Tree
                    </a>
                </li>
            </ul>

            <div>
                <div class="panel panel-body" ng-show="isActiveTest('whitelist')">
                    <p class="lead">
                        You MUST use the following:
                    </p>

                    <div class="list-group">
                        <div class="list-group-item list-group-item-success"
                            ng-repeat="item in whitelistResults.contains">
                            <span class="fa fa-check fa-lg"></span>
                            {{item}}
                        </div>
                        <div class="list-group-item list-group-item-danger"
                            ng-repeat="item in whitelistResults.missing">
                            <span class="fa fa-close fa-lg"></span>
                            {{item}}
                        </div>
                    </div>

                    <br>

                    <p class="lead text-success" ng-show="whitelistResults.passing">
                        <span class="fa fa-check fa-lg"></span>
                        Passing whitelist check
                    </p>
                    <p class="lead text-danger" ng-show="!whitelistResults.passing">
                        <span class="fa fa-close fa-lg"></span>
                        Failing whitelist check
                    </p>
                </div>
                <div class="panel panel-body" ng-show="isActiveTest('blacklist')">
                    <p class="lead">
                        You MUST NOT use the following:
                    </p>

                    <div class="list-group">
                        <div class="list-group-item list-group-item-success"
                            ng-repeat="item in blacklistResults.absent">
                            <span class="fa fa-check fa-lg"></span>
                            {{item}}
                        </div>
                        <div class="list-group-item list-group-item-danger"
                            ng-repeat="item in blacklistResults.violates">
                            <span class="fa fa-close fa-lg"></span>
                            {{item}}
                        </div>
                    </div>

                    <br>

                    <p class="lead text-success" ng-show="blacklistResults.passing">
                        <span class="fa fa-check fa-lg"></span>
                        Passing blacklist check
                    </p>
                    <p class="lead text-danger" ng-show="!blacklistResults.passing">
                        <span class="fa fa-close fa-lg"></span>
                        Failing blacklist check
                    </p>
                </div>
                <div class="panel panel-body" ng-show="isActiveTest('codeTree')">
                    <script type="text/ng-template" id="tree-item">
                        {{item.type}}
                        <ul>
                            <li ng-repeat="item in item.children" ng-include="'tree-item'"></li>
                        </ul>
                    </script>

                    <ul>
                        <li ng-repeat="item in codeTree" ng-include="'tree-item'"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <script type="text/ng-template" id="interactive-tree-item">
            {{item.type}}

            <select ng-model="item.__text" class="form-control">
                <option value="{{type}}" ng-repeat="type in statementTypes">{{type}}</option>
            </select>

            <button class="btn btn-default" ng-click="addChild(item, item.__text); item.__text = null;">
                <span class="fa fa-plus"></span>
                Add child
            </button>

            <ul>
                <li ng-repeat="item in item.children" ng-include="'interactive-tree-item'"></li>
            </ul>
        </script>

        <ul>
            <li ng-repeat="item in matchTree" ng-include="'interactive-tree-item'"></li>
        </ul>

        <button class="btn btn-danger" ng-click="clearMatchTree()">
            <span class="fa fa-close"></span>
            Clear tree
        </button>
    </div>
</div>

<footer class="footer well">
  <div class="container">
    <p>jsMint | Neel Mehta</p>
  </div>
</footer>
